# Supabase (PostgreSQL gratuito)
# Obtenha essas credenciais em: https://supabase.com/dashboard
NEXT_PUBLIC_SUPABASE_URL=https://qzpsoxymczikdjetsumb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6cHNveHltY3ppa2RqZXRzdW1iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIyNjQ2NTUsImV4cCI6MjA3Nzg0MDY1NX0.qRjTNgW44cDwGZf1b2S59_tiLjHVSahwD6TGRG7U-hU

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here-generate-with-openssl-rand-base64-32

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret

